/* плашка */
#home {
   /* position: absolute;*/
    /*width: 1920px;
    height: 49px;
    left: 0px;*/
    padding-top: 1px;
    /* background: rgba(18, 17, 17, 0.82); */
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background: linear-gradient(to left, #121111 2%, transparent 190%);
}
.club1 {
    padding-top: 8px;
    padding-left: 152px;
    top: 7px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 43px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
}

.club2 {
    /* position: absolute; */
    /* width: 212px; */
    /* height: 29px; */
    padding-left: 263px;
    margin-top: -29px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
}

.menu {
    display: flex;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B9B5BD;
    /* padding-left: 647px; */
    /* position: absolute; */
    margin-top: -20px;
    justify-content: flex-end;
}
.body{
    background-color: #404043;
}
#menu-item1, #menu-item2,#menu-item3, #menu-item4,#menu-item5{
    padding: 0 10px;
    text-indent: 10px;
}

.menu a{
    text-decoration: none;
    padding: 0 25px;
    color: #B9B5BD;
   
    margin-left: -15px;
   
}
/* конец плашки*/



 /* адаптивная верстка под мал.экран*/
 @media (min-width: 240px) and (max-width: 940px)
{   .menu{
    padding-left: 15px;
    margin-top: 0px;
    font-size: 12px;
    justify-content: flex-start;
}
.club1 {
    padding-left: 10px}
.club2{
    padding-left:  116px;}
    .menu a {
        padding: 0 10px;}
}

@media (min-width: 501px) and(max-width: 1024px)
{

}