/* плашка */
#home {
   
    height: 49px;
    left: 0px;
    padding-top: 1px;
    /* background: rgba(18, 17, 17, 0.82); */
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background: linear-gradient(to left, #121111 2%, transparent 190%);
}
.club1 {
    padding-top: 8px;
    padding-left: 152px;
    top: 7px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 43px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
}

.club2 {
    
    /* width: 212px; */
    /* height: 29px; */
    padding-left: 263px;
    margin-top: -29px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
}

.menu {
    display: flex;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B9B5BD;
    /* padding-left: 647px; */
    margin-top: -22px;
    justify-content: flex-end;
}

.body{
    background-color: #404043;
}
#menu-item1, #menu-item2,#menu-item3, #menu-item4,#menu-item5{
    padding: 0 10px;
    text-indent: 10px;
}

.menu a{
    text-decoration: none;
    padding: 0 25px;
    color: #B9B5BD;
   
    margin-left: -15px;
   
}
/* конец плашки*/



 /* адаптивная верстка */
 @media (min-width: 300px) and (max-width: 420px)
{.menu{
    padding-left: 15px;
    margin-top: -6px;
    font-size: 12px;
    justify-content: flex-start;

}

.club1 {
    padding-left: 10px;
    font-size: 33px;
}
.club2{
    padding-left: 10px;
    margin-top: -4px;
    font-size: 25px;
}
    .menu a {
        padding: 0 10px;}
        #home{
            height: 90px;
        }

}
 
 
 
 
 @media (min-width: 421px) and (max-width: 940px)
{   .menu{
    padding-left: 15px;
    margin-top: 0px;
    font-size: 12px;
    justify-content: flex-start;

}

.club1 {
    padding-left: 10px}
.club2{
    padding-left:  116px;}
    .menu a {
        padding: 0 10px;}
        #home{
            height: 74px;
        }
}

/* конец плашки адаптивной верстки */

/*танцующий мужик*/
/*танцующий мужик*/
.haus{
    background: url("background-2.png");
    background-position: center top;
    background-size: cover;
    position: inherit;
    width: 100%;
}


.restangle3 {
    border-radius: 0px;
    width: 504px;
    /* padding-left: 33px; */
    /* height: 100%; */
    margin-left: 150px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.81) 2%, rgba(0, 0, 0, 0.589424) 89.15%, rgba(0, 0, 0, 0) 114.5%);
}
    
.restangle3-title {
    padding-top: 102px;
    /* height: 189px; */
    padding-left: 70px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 81px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.restangle3-text {
    /* height: 58px; */
    padding-left: 70px;
    /* margin-top: 278px; */
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}
.ellipse {
    flex-direction: column;
    display: flex;
    width: 15px;
    height: 15px;
    /* margin-top: 291px; */
    /* margin-left: 20px; */
}
    .ellipse2 {
        box-sizing: border-box;
        
        width: 15px;
        height: 15px;
        bottom: 26px;
        border-radius: 20px;
        color: white;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
    }
    .ellipse3 {
        box-sizing: border-box;
        
        width: 15px;
        height: 15px;
        bottom: 52px;
        border-radius: 20px;
        background: #E89B2B;
        border: 2px solid #FFFFFF;
    }
    .ellipse4 {
        box-sizing: border-box;
        
        width: 15px;
        height: 15px;
        bottom: 78px;
        border-radius: 20px;
        color: white;
        border: 2px solid #FFFFFF;
    }
    .ellipse5 {
        box-sizing: border-box;
        
        width: 15px;
        height: 15px;
        bottom: 104px;
        border-radius: 20px;
        color: white;
        border: 2px solid #FFFFFF;
    }
    .ellipse6 {
        box-sizing: border-box;
       
        width: 15px;
        height: 15px;
        bottom: 130px;
        border-radius: 20px;
        color: white;
        border: 2px solid #FFFFFF;
    }
.restangle4-text1{
    
    width: 64.79px;
    height: 22.96px;
    left: 492.97px;
    top: 388.04px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.restangle4-text2{
    
    width: 57.17px;
    height: 22.96px;
    left: 597.35px;
    top: 388.04px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #E89B2B;
}
.restangle4-1{
    box-sizing: border-box;
    
    width: 103.67px;
    height: 31px;
    left: 522px;
    top: 379px;
    border: 1px solid #BEBEC8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.restangle4-2{
box-sizing: border-box;

width: 99.09px;
height: 31px;
left: 624.91px;
top: 379px;
border: 1px solid #BEBEC8;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.married-title{

width: 355px;
height: 30px;
left: 517px;
top: 481px;
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 30px;
/* identical to box height */
color: #FFFFFF;
}
.married-text1{
    
    width: 343px;
    height: 39px;
    left: 517px;
    top: 550px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.married-text2{

width: 49px;
height: 13px;
left: 736px;
top: 577px;
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
color: #E89B2B;
}
/**end танцующий мужик**/